// Import page-specific CSS files here.
@import "home";

.btn-primary {
  background-color:$semi-dark-green !important;
  border-color:$semi-dark-green !important;
  color: white;
}

#header-request {
  background-color: $semi-dark-green;
  color: white;
}

#carouselExampleIndicators {
  border:10px solid $lighter-green;
}

#map {
  border:10px solid $lighter-green;
}

#dropdown-color {
  background-color: $semi-dark-green;
}

#dropdown-font {
  color: white;
}
