.navbar-lewagon {
  justify-content: space-between;
  background:$white;
  font-family: Manrope;
}

#brand {
  color: $green;
  font-weight: bold;
  align-content: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: $green;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
