.navbar-lewagon {
  justify-content: space-between;
  background: white;
  color: #379683
}

#brand {
  color: #379863;
  font-weight: bold
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
