.navbar-lewagon {
  justify-content: space-between;
  background:$green;
  font-family: Manrope;
  color:$white
}

#brand {
  color: $white;
  font-weight: bold;
  align-content: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: $white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: red;
}
